<!DOCTYPE html>
<html>
  <head>
    <title>Adjective Adjective Noun</title>
    <link rel="stylesheet" type="text/css" href="./public/style.css" />
  </head>
  <body>
    <div id="header">
      Information about AAN goes here.
    </div>
      <div id="phrase">
        <%= @phrase %>
      </div>
      <div id="generate">
        <a href="javascript:history.go(0)">Generate</A>
      </div>
  </body>
</html>
