<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <link href="/style.css" rel="stylesheet">
  <title>Adjective Adjective Noun</title>
</head>
  <body>
  <h1 id="aan">Adjective Adjective Noun</h1>
    <div id="header">
      A random video game name generator. As you generate names, try to ask yourself some questions. "What kind of game would this be?" In the future, will I code some mechanisms for allowing you to explore these questions more deeply in the future? 
      Will I give you that ultimate freedom to express yourself to your peers on the internet? 
      IT'S ENTIRELY POSSIBLE.
    </div>
    <div id="phrase">
      <%= @phrase %>
    </div>
    <div id="generate">
      <a href="javascript:history.go(0)">New Game</a>
    </div>
  </body>
</html>