<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>AAN</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Adjective Adjective Noun</a></h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>