#aan {
  }
  
body {
  background-image:url('page_bg.png');
  background-repeat:no-repeat;
  width: 100%;
  height: 100%;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #333333;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

#header {
  font-family: Geneva, sans-serif;
  font-size: 16px;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.25em;
}

a {
  color: #333333;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
}

#phrase {
  background-image:url('bg.png');
  background-repeat:no-repeat;
  background-position:right;
  padding-top: 15px;
  padding-bottom: 15px;  
  padding-left: 10px;
  color: #000;
  width: 90%;
  background-color: #fff;
  font-size: 36px;
  font-weight: bold;
 }

#generate {

  font-weight: bold;
  margin-top: 94px;
  margin-left: 10px;
}